apache-airflow==3.0.2        # última release estável do Airflow :contentReference[oaicite:0]{index=0}
apache-airflow-providers-apache-spark==5.3.0 # provider oficial Spark para Airflow :contentReference[oaicite:1]{index=1}
pyspark==4.0.0               # API Python do Apache Spark :contentReference[oaicite:2]{index=2}
psycopg2-binary==2.9.10      # driver PostgreSQL para Python :contentReference[oaicite:3]{index=3}
apache-airflow-providers-common-compat==1.7.0
apache-airflow-providers-fab==2.2.0
